<div class="px-2 lg:px-7 pt-5">
    <h1 class="text-[20px] font-bold mb-3">Seller</h1>
    <div class="w-full p-4 bg-[#6a5fdf] rounded-md">
        <div class="flex justify-between items-center">
            <select
                (change)="changeValue('select', $event)"
                class="px-4 py-2 focus:border-indigo-500 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
            >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <input
                (change)="changeValue('input', $event)"
                [value]="$searchValue()"
                class="px-4 py-2 focus:border-indigo-500 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                type="text"
                placeholder="search"
            />
        </div>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-[#d0d2d6]">
                <thead
                    class="text-sm text-[#d0d2d6] uppercase border-b border-slate-700"
                >
                    <tr>
                        <th scope="col" class="py-3 px-4">No</th>
                        <th scope="col" class="py-3 px-4">Image</th>
                        <th scope="col" class="py-3 px-4">Name</th>
                        <th scope="col" class="py-3 px-4">Shop Name</th>
                        <th scope="col" class="py-3 px-4">Payment Status</th>
                        <th scope="col" class="py-3 px-4">Email</th>
                        <th scope="col" class="py-3 px-4">Status</th>
                        <th scope="col" class="py-3 px-4">District</th>
                        <th scope="col" class="py-3 px-4">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (seller of $sellers(); track seller._id; let idx =
                    $index) {
                    <tr>
                        <td
                            scope="row"
                            class="py-1 px-4 font-medium whitespace-nowrap"
                        >
                            {{ idx + 1 }}
                        </td>
                        <td
                            scope="row"
                            class="py-1 px-4 font-medium whitespace-nowrap"
                        >
                            <img
                                class="w-[45px] h-[45px]"
                                [src]="seller.image"
                                alt=""
                            />
                        </td>
                        <td
                            scope="row"
                            class="py-1 px-4 font-medium whitespace-nowrap"
                        >
                            {{ seller.name }}
                        </td>
                        <td
                            scope="row"
                            class="py-1 px-4 font-medium whitespace-nowrap"
                        >
                            {{ seller.shopInfo?.shopName }}
                        </td>
                        <td
                            scope="row"
                            class="py-1 px-4 font-medium whitespace-nowrap"
                        >
                            <span>{{ seller.payment }}</span>
                        </td>
                        <td
                            scope="row"
                            class="py-1 px-4 font-medium whitespace-nowrap"
                        >
                            {{ seller.email }}
                        </td>
                        <td
                            scope="row"
                            class="py-1 px-4 font-medium whitespace-nowrap"
                        >
                            {{ seller.status }}
                        </td>
                        <td
                            scope="row"
                            class="py-1 px-4 font-medium whitespace-nowrap"
                        >
                            {{ seller.shopInfo?.district }}
                        </td>
                        <td
                            scope="row"
                            class="py-1 px-4 font-medium whitespace-nowrap"
                        >
                            <div class="flex justify-start items-center gap-4">
                                <a
                                    class="p-[6px] bg-green-500 rounded hover:shadow-lg hover:shadow-green-500/50"
                                    [routerLink]="[
                                        '/admin/dashboard/seller/details',
                                        seller._id
                                    ]"
                                >
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        @if ($totalSellers() <= $parPage()) {
        <div class="w-full flex justify-end mt-4 bottom-4 right-4">
            <!-- TODO: <app-pagination
                [$pageNumber]="$currentPage()"
                [$totalItem]="$totalSellers()"
                [$parPage]="$parPage()"
                [$showItem]="4"
                (setPageNumber)="$currentPage.set($event)"
            ></app-pagination> -->
        </div>
        }
    </div>
</div>
