<div class="px-2 lg:px-7 pt-5">
    <div class="w-full p-4 bg-[#6a5fdf] rounded-md">
        <div class="flex justify-between items-center pb-4">
            <h1 class="text-[#d0d2d6] text-xl font-semibold">Edit Product</h1>
            <a
                class="bg-blue-500 hover:shadow-blue-500/50 hover:shadow-lg text-white rounded-sm px-7 py-2 my-2"
                routerLink="/seller/dashboard/products"
                >All Product</a
            >
        </div>
        <div>
            <form [formGroup]="productForm" (ngSubmit)="submit()">
                <div
                    class="flex flex-col mb-3 md:flex-row gap-4 w-full text-[#d0d2d6]"
                >
                    <div class="flex flex-col w-full gap-1">
                        <label for="name">Product Name</label>
                        <input
                            class="px-4 py-2 focus:border-indigo-500 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Product Name"
                            formControlName="name"
                            required
                        />
                    </div>
                    <div class="flex flex-col w-full gap-1">
                        <label for="brand">Product Brand</label>
                        <input
                            class="px-4 py-2 focus:border-indigo-500 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                            type="text"
                            name="brand"
                            id="brand"
                            placeholder="Brand Name"
                            formControlName="brand"
                            required
                        />
                    </div>
                </div>
                <div
                    class="flex flex-col mb-3 md:flex-row gap-4 w-full text-[#d0d2d6]"
                >
                    <div class="flex flex-col w-full gap-1 relative">
                        <label for="category">Category</label>
                        <input
                            readOnly
                            class="px-4 py-2 focus:border-indigo-500 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                            type="text"
                            id="category"
                            placeholder="--select category--"
                            formControlName="category"
                            required
                        />
                    </div>
                    <div class="flex flex-col w-full gap-1">
                        <label for="stock">Product Stock</label>
                        <input
                            class="px-4 py-2 focus:border-indigo-500 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                            type="text"
                            name="stock"
                            id="stock"
                            placeholder="Stock"
                            formControlName="stock"
                            required
                        />
                    </div>
                </div>
                <div
                    class="flex flex-col mb-3 md:flex-row gap-4 w-full text-[#d0d2d6]"
                >
                    <div class="flex flex-col w-full gap-1">
                        <label for="price">Price</label>
                        <input
                            class="px-4 py-2 focus:border-indigo-500 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                            type="number"
                            name="price"
                            id="price"
                            placeholder="price"
                            formControlName="price"
                            required
                        />
                    </div>
                    <div class="flex flex-col w-full gap-1">
                        <label for="discount">Discount</label>
                        <input
                            class="px-4 py-2 focus:border-indigo-500 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                            type="number"
                            name="discount"
                            id="discount"
                            placeholder="discount by %"
                            formControlName="discount"
                            required
                        />
                    </div>
                </div>
                <div class="flex flex-col w-full gap-1 mb-5">
                    <label for="description" class="text-[#d0d2d6]">
                        Description
                    </label>
                    <textarea
                        class="px-4 py-2 focus:border-indigo-500 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                        name="description"
                        id="description"
                        placeholder="Description"
                        cols="10"
                        rows="4"
                        formControlName="description"
                    ></textarea>
                </div>
                <div
                    class="grid lg:grid-cols-4 grid-cols-1 md:grid-cols-3 sm:grid-cols-2 sm:gap-4 md:gap-4 gap-3 w-full text-[#d0d2d6] mb-4"
                >
                    @for (image of $imageShow(); track image; let idx = $index)
                    {
                    <div class="h-[180px] relative">
                        <label [htmlFor]="idx">
                            <img
                                [src]="image.url"
                                alt=""
                                class="w-full h-full rounded-sm"
                            />
                        </label>
                        <input id="{{ idx }}" type="file" class="hidden" />
                    </div>
                    }
                </div>
                <div class="flex">
                    <button
                        class="bg-red-500 w-[280px] hover:shadow-red-300/50 hover:shadow-lg text-white rounded-md px-7 py-2 mb-3"
                    >
                        Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
