<div class="px-2 lg:px-7 py-5">
    <div class="w-full flex flex-wrap">
        <div class="w-full md:w-6/12">
            <div class="w-full p-4 bg-[#6a5fdf] rounded-md text-[#d0d2d6]">
                <div class="flex justify-center items-center py-3">
                    @if ($userInfo().image) {
                    <label
                        for="img"
                        class="h-[150px] w-[200px] relative p-3 cursor-pointer overflow-hidden"
                    >
                        <img [src]="$userInfo().image" alt="" />
                    </label>
                    } @else {
                    <label
                        class="flex justify-center items-center flex-col h-[150px] w-[200px] cursor-pointer border border-dashed hover:border-red-500 border-[#d0d2d6] relative"
                        for="img"
                    >
                        <span>
                            <fa-icon [icon]="faImage"></fa-icon>
                        </span>
                        <span>Select Image</span>
                    </label>
                    }
                    <input
                        (change)="addImage($event)"
                        type="file"
                        class="hidden"
                        id="img"
                    />
                </div>
                <div class="px-0 md:px-5 py-2">
                    <div
                        class="flex justify-between text-sm flex-col gap-2 p-4 bg-slate-800 rounded-md relative"
                    >
                        <span
                            class="p-[6px] bg-yellow-500 rounded hover:shadow-lg hover:shadow-yellow-500/50 absolute right-2 top-2 cursor-pointer"
                        >
                            <fa-icon [icon]="faPenToSquare"></fa-icon>
                        </span>
                        <div class="flex gap-2">
                            <span>Name : </span>
                            <span>{{ $userInfo().name }}</span>
                        </div>
                        <div class="flex gap-2">
                            <span>Email : </span>
                            <span>{{ $userInfo().email }}</span>
                        </div>
                        <div class="flex gap-2">
                            <span>Role : </span>
                            <span>{{ $userInfo().role }}</span>
                        </div>
                        <div class="flex gap-2">
                            <span>Status : </span>
                            <span>{{ $userInfo().status }}</span>
                        </div>
                        <div class="flex gap-2">
                            <span>Payment Account : </span>
                            <p>
                                @if ($status() === 'active') {
                                <span
                                    class="bg-red-500 text-white text-xs cursor-pointer font-normal ml-2 px-2 py-0.5 rounded"
                                >
                                    {{ $userInfo().payment }}
                                </span>
                                } @else {
                                <span
                                    class="bg-blue-500 text-white text-xs cursor-pointer font-normal ml-2 px-2 py-0.5 rounded"
                                >
                                    Click Active
                                </span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
                <div class="px-0 md:px-5 py-2">
                    @if (!$userInfo().shopInfo) {
                    <form [formGroup]="shopInfoForm" (ngSubmit)="submit()">
                        <div class="flex flex-col w-full gap-1 mb-2">
                            <label htmlFor="Shop">Shop Name</label>
                            <input
                                class="px-4 py-2 focus:border-indigo-200 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                                type="text"
                                name="shopName"
                                id="Shop"
                                placeholder="Shop Name"
                                formControlName="shopName"
                                required
                            />
                        </div>
                        <div class="flex flex-col w-full gap-1 mb-2">
                            <label htmlFor="division">Division Name</label>
                            <input
                                class="px-4 py-2 focus:border-indigo-200 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                                type="text"
                                name="division"
                                id="division"
                                placeholder="division Name"
                                formControlName="division"
                                required
                            />
                        </div>
                        <div class="flex flex-col w-full gap-1 mb-2">
                            <label htmlFor="district">District Name</label>
                            <input
                                class="px-4 py-2 focus:border-indigo-200 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                                type="text"
                                name="district"
                                id="district"
                                placeholder="District Name"
                                formControlName="district"
                                required
                            />
                        </div>
                        <div class="flex flex-col w-full gap-1 mb-2">
                            <label htmlFor="sub">Sub District Name</label>
                            <input
                                class="px-4 py-2 focus:border-indigo-200 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                                type="text"
                                name="sub_district"
                                id="sub"
                                placeholder="Sub District Name"
                                formControlName="sub_district"
                                required
                            />
                        </div>
                        <button
                            class="bg-red-500 w-[200px] hover:shadow-red-300/50 hover:shadow-lg text-white rounded-md px-7 py-2 mb-3"
                        >
                            Save Changes
                        </button>
                    </form>
                    } @else {
                    <div
                        class="flex justify-between text-sm flex-col gap-2 p-4 bg-slate-800 rounded-md relative"
                    >
                        <span
                            class="p-[6px] bg-yellow-500 rounded hover:shadow-lg hover:shadow-yellow-500/50 absolute right-2 top-2 cursor-pointer"
                        >
                            <fa-icon [icon]="faPenToSquare"></fa-icon>
                        </span>
                        <div class="flex gap-2">
                            <span>Shop Name : </span>
                            <span>{{ $userInfo().shopInfo?.shopName }}</span>
                        </div>
                        <div class="flex gap-2">
                            <span>Division : </span>
                            <span>{{ $userInfo().shopInfo?.division }}</span>
                        </div>
                        <div class="flex gap-2">
                            <span>District : </span>
                            <span>{{ $userInfo().shopInfo?.district }}</span>
                        </div>
                        <div class="flex gap-2">
                            <span>Sub District : </span>
                            <span>{{
                                $userInfo().shopInfo?.sub_district
                            }}</span>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="w-full md:w-6/12">
            <div class="w-full pl-0 md:pl-7 mt-6 md:mt-0">
                <div class="bg-[#6a5fdf] rounded-md text-[#d0d2d6] p-4">
                    <h1 class="text-[#d0d2d6] text-lg mb-3 font-semibold">
                        Change Password
                    </h1>
                    <form>
                        <div class="flex flex-col w-full gap-1 mb-2">
                            <label htmlFor="email">Email</label>
                            <input
                                class="px-4 py-2 focus:border-indigo-200 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                                type="email"
                                name="email"
                                id="email"
                                placeholder="email"
                            />
                        </div>
                        <div class="flex flex-col w-full gap-1 mb-2">
                            <label htmlFor="o_password">Old Password</label>
                            <input
                                class="px-4 py-2 focus:border-indigo-200 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                                type="password"
                                name="old_password"
                                id="o_password"
                                placeholder="Old Password"
                            />
                        </div>
                        <div class="flex flex-col w-full gap-1 mb-2">
                            <label htmlFor="n_password">New Password</label>
                            <input
                                class="px-4 py-2 focus:border-indigo-200 outline-none bg-[#6a5fdf] border border-slate-700 rounded-md text-[#d0d2d6]"
                                type="password"
                                name="new_password"
                                id="n_password"
                                placeholder="New Password"
                            />
                        </div>
                        <button
                            class="bg-red-500 hover:shadow-red-500/40 hover:shadow-md text-white rounded-md px-7 py-2 my-2"
                        >
                            Save Changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
