<div class="px-2 md:px-7 py-5">
    <div
        class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-7"
    >
        <div
            class="flex justify-between items-center p-5 bg-[#fae8e8] rounded-md gap-3"
        >
            <div class="flex flex-col justify-start items-start text-[#5c5a5a]">
                <h2 class="text-3xl font-bold">$3434</h2>
                <span class="text-md font-medium">Total Sales</span>
            </div>
            <div
                class="w-[40px] h-[47px] rounded-full bg-[#fa0305] flex justify-center items-center text-xl"
            >
                <fa-icon [icon]="faDollarSign"></fa-icon>
            </div>
        </div>
        <div
            class="flex justify-between items-center p-5 bg-[#fde2ff] rounded-md gap-3"
        >
            <div class="flex flex-col justify-start items-start text-[#5c5a5a]">
                <h2 class="text-3xl font-bold">50</h2>
                <span class="text-md font-medium">Products</span>
            </div>
            <div
                class="w-[40px] h-[47px] rounded-full bg-[#760077] flex justify-center items-center text-xl"
            >
                <fa-icon [icon]="faCentSign"></fa-icon>
            </div>
        </div>
        <div
            class="flex justify-between items-center p-5 bg-[#e9feea] rounded-md gap-3"
        >
            <div class="flex flex-col justify-start items-start text-[#5c5a5a]">
                <h2 class="text-3xl font-bold">10</h2>
                <span class="text-md font-medium">Orders</span>
            </div>
            <div
                class="w-[40px] h-[47px] rounded-full bg-[#038000] flex justify-center items-center text-xl"
            >
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </div>
        </div>
        <div
            class="flex justify-between items-center p-5 bg-[#ecebff] rounded-md gap-3"
        >
            <div class="flex flex-col justify-start items-start text-[#5c5a5a]">
                <h2 class="text-3xl font-bold">1</h2>
                <span class="text-md font-medium">Pending Orders</span>
            </div>
            <div
                class="w-[40px] h-[47px] rounded-full bg-[#0200f8] flex justify-center items-center text-xl"
            >
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-wrap mt-7">
        <div class="w-full lg:w-7/12 lg:pr-3">
            <div class="w-full bg-[#6a5fdf] p-4 rounded-md">
                <apx-chart
                    [series]="state.series"
                    [colors]="state.options.color"
                    [chart]="state.options.chart"
                    [dataLabels]="state.options.dataLabels"
                    [stroke]="state.options.stroke"
                    [xaxis]="state.options.xaxis"
                    [legend]="state.options.legend"
                    [responsive]="state.options.responsive"
                ></apx-chart>
            </div>
        </div>
        <div class="w-full lg:w-5/12 lg:pl-4 mt-6 lg:mt-0">
            <div class="w-full bg-[#6a5fdf] p-4 rounded-md text-[#d0d2d6]">
                <div class="flex justify-between items-center">
                    <h2 class="font-semibold text-lg text-[#d0d2d6] pb-3">
                        Recent Customer Message
                    </h2>
                    <a class="font-semibold text-sm text-[#d0d2d6]">View All</a>
                </div>
                <div class="flex flex-col gap-2 pt-6 text-[#d0d2d6]">
                    <ol class="relative border-1 border-slate-600 ml-4">
                        <li class="mb-3 ml-6">
                            <div
                                class="flex absolute -left-5 shadow-lg justify-center items-center w-10 h-10 p-[6px] bg-[#4c7fe2] rounded-full z-10"
                            >
                                <img
                                    class="w-full rounded-full h-full shadow-lg"
                                    src="images/admin.jpg"
                                    alt=""
                                />
                            </div>
                            <div
                                class="p-3 bg-slate-800 rounded-lg border border-slate-600 shadow-sm"
                            >
                                <div
                                    class="flex justify-between items-center mb-2"
                                >
                                    <a class="text-md font-normal">Seller</a>
                                    <time
                                        class="mb-1 text-sm font-normal sm:order-last sm:mb-0"
                                        >2 day ago</time
                                    >
                                </div>
                                <div
                                    class="p-2 text-xs font-normal bg-slate-700 rounded-lg border border-slate-800"
                                >
                                    How Are you
                                </div>
                            </div>
                        </li>
                        <li class="mb-3 ml-6">
                            <div
                                class="flex absolute -left-5 shadow-lg justify-center items-center w-10 h-10 p-[6px] bg-[#4c7fe2] rounded-full z-10"
                            >
                                <img
                                    class="w-full rounded-full h-full shadow-lg"
                                    src="images/admin.jpg"
                                    alt=""
                                />
                            </div>
                            <div
                                class="p-3 bg-slate-800 rounded-lg border border-slate-600 shadow-sm"
                            >
                                <div
                                    class="flex justify-between items-center mb-2"
                                >
                                    <a class="text-md font-normal">Admin</a>
                                    <time
                                        class="mb-1 text-sm font-normal sm:order-last sm:mb-0"
                                        >2 day ago</time
                                    >
                                </div>
                                <div
                                    class="p-2 text-xs font-normal bg-slate-700 rounded-lg border border-slate-800"
                                >
                                    How Are you
                                </div>
                            </div>
                        </li>
                        <li class="mb-3 ml-6">
                            <div
                                class="flex absolute -left-5 shadow-lg justify-center items-center w-10 h-10 p-[6px] bg-[#4c7fe2] rounded-full z-10"
                            >
                                <img
                                    class="w-full rounded-full h-full shadow-lg"
                                    src="images/admin.jpg"
                                    alt=""
                                />
                            </div>
                            <div
                                class="p-3 bg-slate-800 rounded-lg border border-slate-600 shadow-sm"
                            >
                                <div
                                    class="flex justify-between items-center mb-2"
                                >
                                    <a class="text-md font-normal">Customer</a>
                                    <time
                                        class="mb-1 text-sm font-normal sm:order-last sm:mb-0"
                                        >2 day ago</time
                                    >
                                </div>
                                <div
                                    class="p-2 text-xs font-normal bg-slate-700 rounded-lg border border-slate-800"
                                >
                                    How Are you
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full p-4 bg-[#6a5fdf] rounded-md mt-6">
        <div class="flex justify-between items-center">
            <h2 class="font-semibold text-lg text-[#d0d2d6] pb-3">
                Recent Orders
            </h2>
            <a class="font-semibold text-sm text-[#d0d2d6]">View All</a>
        </div>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-[#d0d2d6]">
                <thead
                    class="text-sm text-[#d0d2d6] uppercase border-b border-slate-700"
                >
                    <tr>
                        <th scope="col" class="py-3 px-4">Order Id</th>
                        <th scope="col" class="py-3 px-4">Price</th>
                        <th scope="col" class="py-3 px-4">Payment Status</th>
                        <th scope="col" class="py-3 px-4">Order Status</th>
                        <th scope="col" class="py-3 px-4">Active</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let number of numbers">
                        <tr>
                            <td class="py-3 px-4 font-medium whitespace-nowrap">
                                #34344
                            </td>
                            <td class="py-3 px-4 font-medium whitespace-nowrap">
                                $454
                            </td>
                            <td class="py-3 px-4 font-medium whitespace-nowrap">
                                Pending
                            </td>
                            <td class="py-3 px-4 font-medium whitespace-nowrap">
                                Pending
                            </td>
                            <td class="py-3 px-4 font-medium whitespace-nowrap">
                                <a>View</a>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
